/* Created by: Jaejun Lee
 * Created on: Feb 2022
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: darkblue;
}

h1 {
  background-color: rgb(255 0 221);
  color: hsl(239deg 50% 47%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #00fbff;
}

ul {
  color: beige;
}

ul li::before {
  content: "✅";
}

table {
  border: solid thin;
}

th {
  height: 2rem;
  background: green;
  border: 1px solid white;
  text-align: center;
}

td {
  height: 2rem;
  background: lightblue;
  border: 1px solid black;
  text-align: center;
}
